[Desktop Entry]
Version=0.1
Name=Ezame
Exec=ezame
Icon=ezame
Comment=Eza's Menu Editor
Terminal=false
Type=Application
Categories=GNOME;GTK;System;Settings

